
:scss
  .benri-table-wrapper{
    padding-left: 120px;
  }
  .benri{
    .benri-button-wrapper{
      display: inline-block;
      margin: 0 0 0 -120px;
      padding-right: 20px;
      .benri-button{
        width: 100px;
      }
    }
  }

.container
  %br
  %table.table.table-striped.table-bordered
    %thead
      %tr.warning
        %th homu
        %th homu
        %th homu
      %tr.info
        %th mami
        %th mami
        %th mami
      %tr.warning
        %th mado
        %th mado
        %th mado
  %br
  .benri-table-wrapper
    %div{"ng-controller" => "StripeDemoCtrl"}
      %table.table.table-striped.table-bordered.benri-table
        %thead
          %tr{ "ng-repeat" => "month in months", "ng-class" => "$even ? 'warning' : 'info'" }
            %th.benri
              .benri-button-wrapper
                .benri-button
                  %button.btn.btn-default.btn-block
                    {{ month }}
              {{ month }}
  
  -#               %label.checkbox
  -#                 %input{ :type => "checkbox" }
  
  -#             %dev{ :style => "position:absolute; top: 10px;" }



